*{
    margin:0;
    padding: 0;
}
body{
    background: url('../../../assets/fondo-certificado-14.png');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Arvo", sans-serif;
    font-weight: bold;
}
h1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    
}
/* Fecha y Estatus */
.general{
    /* padding: 20px;
    margin:10px; */
    display: inline-block;
    /* float: right; */

}
.general label,input {
    padding: 4px;
    margin:5px;
}

/* Formulario */
.formulario{
    padding: 4px;
    margin: 5px;
}
.formulario label{
    padding: 5px;
    margin: 5px;
    font-weight: bold;
}
.formulario input{
    padding: 4px;
    margin: 5px;
}
.formulario .lectura{
    background:#FDF99E;
    width: 300px;
}
.formulario button{
    padding: 5px;
    margin: 5px;
    font-weight: bold;
    border-radius: 5px;
    background: #4c0bb6;
    color: white;
}
/* tabla de datos
@media only screen and(max-width:900px){
    table{
        width: 100px!important;
    }
    h1{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
 table{
    padding: 5px;
    margin: 20px auto;
    text-align: center;
    border: 2px solid black;
    width: 1000px;
}
th,td{
    padding: 0;
    margin: 0;
    border:1px solid black;
}*/

.tabla{
    /* display: flex; */
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
}

.tabla .table{
    /* display: flex; */
    flex: 70%;
    padding: 5px;
    margin: 5px;
}
.tabla .botones{
    flex: 25%;
    padding:5px ;
    margin: 5px;
    /* padding: 5px; */
    /* flex-wrap: wrap; */
    /* display: flex; */
    /* width: 30%; */
    /* float: right; */
    /* display: flex; */
    /* justify-content: center;
    align-items: center; */
}
/* .formulario .botones_basicos{
    width: 20%;
    display: flex;
}  */

.tabla .botones button{
    /* flex: 40%; */
    padding:5px ;
    margin: 5px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: rgb(0, 94, 255);
    /* padding: 5px; */
    /* flex-wrap: wrap; */
    /* display: flex; */
    /* width: 30%; */
    /* float: right; */
    /* display: flex; */
    /* justify-content: center;
    align-items: center; */
}