

<!-- <ul *ngFor="let list of listprod">
    <li>Codigo: {{ list.idart }}</li>
    <li>Nombre: {{ list.descart }}</li>
    <li>Precio: {{ list.prec_venta }}</li>
</ul> -->

<!-- <form action="" method="post">
    <input [(ngModel)]="prod.idart" type="text" id="idart" placeholder="CODIGO">
<input type="submit" value="Buscar" (click)="oneProductos()">        

</form> -->
<div style="text-align: center;">
  <h2 >Registrar productos</h2>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>DESCRIPCION</mat-label>
    <input matInput placeholder="DESCRIPCION" [(ngModel)]="prod.descart">
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="fill" >
  <mat-label>PRECIO COMPRA</mat-label>
    <input matInput placeholder="PRECIO COMPRA" [(ngModel)]="prod.prec_compra">
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="fill" >
    <mat-label>PRECIO VENTA</mat-label>
    <input matInput placeholder="PRECIO VENTA" [(ngModel)]="prod.prec_venta">
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>STOCK</mat-label>
    <input matInput placeholder="STOCK" [(ngModel)]="stock.stock">
  </mat-form-field> 
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>PUNTO REORDEN</mat-label>
    <input matInput placeholder="PUNTO REORDEN" [(ngModel)]="stock.punto_reorden">
  </mat-form-field> 
  <mat-form-field appearance="fill">
  <mat-label>ALMACEN</mat-label>
  <mat-select [(ngModel)]="stock.id_alm">
    <mat-option *ngFor="let list of listalmacen" [value]="list.idalm" >
      {{list.nom_alm}}
    </mat-option> 
    </mat-select>
     </mat-form-field>
  
  <br>
  <button mat-raised-button color="primary" style="margin: 10px;" (click)="saved()">Guardar</button>
  <button mat-raised-button color="primary" style="margin: 10px;" (click)="update()">Actualizar</button>
  <button mat-raised-button color="primary" style="margin: 10px;" (click)="limpiar()">Limpiar</button>
</div>
      
  <br><br>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>BUSQUEDA</mat-label>
    <!-- <input matInput placeholder="BUSQUEDA" [(ngModel)]="prod.descart" type="text" (keyup)=" oneProductos() " > -->
    <input matInput placeholder="BUSQUEDA" [(ngModel)]="descart" type="text" (keyup)=" oneProductos() " >  
  </mat-form-field>  
  <!-- <input matInput placeholder="BUSQUEDA" [(ngModel)]="stock.id_alm" type="text" > -->
<!-- <label for="" [(ngModel)]="stock.id_alm">{{stock.id_alm}}</label> -->
<table class="table" >
    <thead class="table-light"> 
      <tr> 
        <th>CODIGO</th> 
        <th>DESCRIPCION</th>
        <th>PRECIO COMPRA</th>
        <th>PRECIO VENTA</th>
        <th>STOCK</th>
        <th>PUNTO REORDEDN</th>
        <th>ALMACEN</th>
        <th> </th>
        <th></th>
      </tr>
      <tr *ngFor="let list of listprod">
          <!-- <td mat>{{list.idart}}</td> -->
          <ng-container matColumnDef="symbol">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by symbol">
              Symbol
            </th>
            <td mat-cell *matCellDef="let element"> {{list.idart}} </td>
          </ng-container>
          <td>{{list.descart }}</td>
          <td>{{ list.prec_compra}}</td>
          <td>{{ list.prec_venta}}</td>
          <td>{{list.stock}}</td>
          <td>{{list.punto_reorden}}</td>
          <td>{{list.nom_alm}}</td>
          <td>
              <button  class="btn btn-info btn-block" (click)="seleccionar(list.idart, list.descart,list.prec_compra, list.prec_venta, list.stock, list.punto_reorden, list.idalm)">
                EDITAR
              </button>
        </td>
        <td>
            <button class="btn btn-danger"  (click)="deleteProductos(list.idart)">
                <li class="far fa-trash-alt"></li>
            </button>
        </td>
          
      </tr> 
    </thead>
</table>


 <!-- <table mat-table #table [dataSource]="listprod">
     <ng-container matColumnDef="idart">
        <mat-header-cell *matHeaderCellDef>CODIGO</mat-header-cell>
         <mat-cell *matCellDef="let list"> {{list.idart}}</mat-cell>
         
    </ng-container>
    <ng-container matColumnDef="descart">
        <mat-header-cell *matHeaderCellDef>DESCRIPCION</mat-header-cell>
         <mat-cell *matCellDef="let list"> {{list.descart}}</mat-cell>
         
    </ng-container>
    <ng-container matColumnDef="prec_venta">
        <mat-header-cell *matHeaderCellDef>PRECIO</mat-header-cell>
         <mat-cell *matCellDef="let list"> {{list.prec_venta}}</mat-cell>
         
    </ng-container>
    
 </table> -->




